pipeline {
  agent any
  options { 
    buildDiscarder(logRotator(numToKeepStr: '5'))
  }
  stages {
    stage('Say Hello') {
      steps {
        echo 'Hello World!'   
        sh 'java -version'
      }
    }
    stage('run stats') {
      steps { 
        sh 'df -hP /'
        sh 'uname -a'
        sh 'free -g'
        sh 'nproc'
      }
    }
  }
}
